name: Build API Docs

on: push

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        id: create_draft
        with:
          config-name: release-draft-template
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
#      - name: Generate docs metadata file
#        run: npm run build
#      - name: Commit and push docs metadata file
#        run: |
#          echo "---- TEST -----"
#          echo "${{ steps.create_draft.outputs.id }}"
#          echo "${{ steps.create_draft.outputs.html_url }}"
#          echo "${{ steps.create_draft.outputs.upload_url }}"
#          echo "---- END TEST -----"
#          cd ..
#          git clone https://kevhender:${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/kevhender/test-actions.git
#          cd test-actions
#          git fetch
#          git pull
#          cp ../kevhender.github.io/build/test.js .
#          VERSION=$(echo "${{ steps.create_draft.outputs.html_url }}" | rev | cut -d'/' -f 1 | rev)
#          mv test.js ${VERSION}.js
#          git add ${VERSION}.js
#          git config --local user.email "action@github.com"
#          git config --local user.name "GitHub Action"
#          git commit -m "Docs for version ${VERSION}" -a
#          git push -u origin
