name: Publish to NPM

on:
  release:
    types: [published]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - name: Publish to npm
        run: |
          OUTPUT=$(npm run release)
          VERSION=v$(echo $OUTPUT | rev | cut -d'@' -f 1 | rev)
          echo "VERSION: [${VERSION}]"
          cd ..
          git clone https://kevhender:${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/kevhender/test-actions.git
          git clone https://kevhender:${{ secrets.MOOVWEB_GITHUB_TOKEN }}@github.com/moovweb/react-storefront-docs.git
          cd test-actions
          git fetch
          git pull
          mkdir ${VERSION}
          cp ../kevhender.github.io/build/test.js ${VERSION}
          cp ../react-storefront-docs/guides/* ${VERSION}
          sed -i "$ s/$/,\n${VERSION}/" versions.csv
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Docs for version ${VERSION}" -a
          git push -u origin
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
